.header {
    display: flex;
    background-color: #1f2937;
    margin: auto, 0px;
    justify-content: space-around;
    align-items: center;
    height: 3.5%;
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
.header h2 {    
    font-size: 24px;
    color: #f9faf8;
}
.header div {
    display: flex;
}
.header div p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: #e5e7eb;
    cursor: pointer;
}
body {
    margin: 0px;
    display:flex;
    flex-direction: column;
    height: 1912px;
    width: auto;

}
.container1 {
    display: flex;
    background-color: #1f2937;
    justify-items: space-around;
    height:23.25%;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
}
.container1 h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-right: 100px;
}
.container1 p{
    padding-top: 0px;
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 60px;
    margin-top: 0px;
}
.container1 img{
    color: lightgray;
    width: 500px;
    height:250px;
}
.container1 button{
    border: none;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    background-color:#3882F6;
    color: #f9faf8;
}
.container1 button:hover{
    background-color: #3881f6d0;
}
.container2{
    display: flex;
    height: 23.25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.container2 h1{
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
}
.container2 div{
    display: flex;
    justify-items: center;
}
.container2 .column{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    margin: auto 30px;
    font-size: 18px;
    color: #7b7e85
}
.container2 img{
    margin-top: 30px;
    height: 200px;
    width: 200px;
    border-width: 4px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 20px;
}
